<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">



	
	
	<select id="imageList" resultType="org.zerock.domain.MainVO">
			
				
		<![CDATA[
	
			select t. * from (select b.hotelno,b.hotelFileName,b.realhotelname,ag from (select 
            	hotelno, round(avg(grade),1) as ag
            from 
            	review
            group by 
            	hotelno) a,
            (select hotelno,hotelFileName,realhotelname from hotel h, realhotel rh
            where 
            h.realhotelno = rh.realhotelno) b order by a.ag desc) t where rownum<5
		
	
	
		]]>


	</select>
	
	
	<select id="replyList" resultType="org.zerock.domain.ReplyListVO">
		 <![CDATA[
			select t.* from (select r.reviewno,h.hotelno, rh.realhotelname, r.reviewdate,r.reviewcontent from hotel h 
			left join realhotel rh on h.realhotelno = rh.realhotelno
			left join review r on r.hotelno = h.hotelno
			order by r.reviewno desc) t where rownum <5
	
		 ]]>
	</select>
	
	
	
	
	
	
	
	<select id="hotelList" resultType="org.zerock.domain.HotelVO">
			
		<![CDATA[
	
	select n.hotelNo, i.hotelFileName, n.hotelName, n.mainAddress, n.address from hotel_image i, hotel n where i.hotelNo = n.hotelNo
	
		]]>

	</select>
	
	<select id="hotelListWithPaging" resultType="org.zerock.domain.SearchVO" parameterType="map">			
		<![CDATA[
	
		select a.hotelno, realhotelName, hotelFilename, state, roomPrice, ag, buffet, swim
		from 
            (
            select 
            	hotelno, round(avg(grade),1) as ag
            from 
            	review
            group by 
            	hotelno
            ) a,
			(
			 select 
			 	rownum rn, h.hotelno, state, hotelFilename, realhotelname, roomPrice, buffet, swim
       	 	 from
       	 	 	hotel h, realhotel r, hotel_room hr
        	 where
        	 	h.realhotelno = r.realhotelno
        	 and
        	 	h.hotelno = hr.hotelno
            ) b
            where a.hotelno = b.hotelno
	    ]]>  
        <if test = "keyword != null">
        	 and state like '%'||#{keyword}||'%'
        </if>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from hotel where hotelNo > 0
		<if test="keyword != null">
			and title like '%'||#{keyword}||'%'
		</if>
		
	</select>


</mapper>
