<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.DetailMapper">

	<select id="detailList" resultType="org.zerock.domain.DetailVO">
	
		  <![CDATA[
		  
		  	select h.hotelno, rh.realhotelname,rh.roadaddr from hotel h
			left join realhotel rh on h.realhotelno = rh.realhotelno where h.hotelno=#{hotelno}
		   ]]>

	</select>



	<select id="listImage"
		resultType="org.zerock.domain.DetailImage">
		  <![CDATA[
			select roomfilename from room_image where hotelno=#{hotelno}
		   ]]>
	</select>


	<select id="roomList" resultType="org.zerock.domain.ImageList">
		  <![CDATA[
		  	
		  		select roomname,roomprice,bedno,infoRoom,checkInDate,checkOutDate from hotel_room where hotelno=#{hotelno}
		   ]]>


	</select>
	
  <select id="read" resultType="org.zerock.domain.RelyVO">
		  <![CDATA[
		  	
		  		select r.reviewNo, r.grade,r.reviewcontent,r.reviewdate,m.memberNickname from review r
				left join member m on m.memberno = r.memberno
				where hotelno =#{hotelno}
		   ]]>


	</select> 
	
	
		<insert id="insert">
		  <![CDATA[
		  
				insert into review(reviewNo,memberNo,hotelNo,grade,reviewContent,reviewDate) values (review_seq.nextval,#{memberNo},#{hotelNo},#{grade},#{reviewContent},sysdate)
				
				
		   ]]>
	</insert>
	
	
	
	
	<delete id="delete">
		  <![CDATA[
				delete from review where reviewNo = #{reviewNo}
		 ]]>
	</delete>
	
	
	
		<update id ="update">
		 <![CDATA[
		 
		 		update review set reviewContent =#{reviewContent}
		 		
		 		where reviewNo = #{reviewNo}
		 
		 
		 
		    ]]>
	</update>
	
	
	
	
	
	






</mapper>