<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.DetailMapper">

	<select id="detailList" resultType="org.zerock.domain.DetailVO">
	
		  <![CDATA[
		  
		  	select h.hotelno, rh.realhotelname,rh.roadaddr from hotel h
			left join realhotel rh on h.realhotelno = rh.realhotelno where h.hotelno=#{hotelno}
		   ]]>

	</select>



	<select id="listImage"
		resultType="org.zerock.domain.DetailImage">
		  <![CDATA[
			select roomfilename from room_image where hotelno=#{hotelno}
		   ]]>
	</select>


	<select id="roomList" resultType="org.zerock.domain.ImageList">
		  <![CDATA[
		  	
		  		select roomno, roomname,roomprice,bedno,infoRoom,checkInDate,checkOutDate from hotel_room where hotelno=#{hotelno}
		   ]]>


	</select>
	
	<select id="placeList" resultType="org.zerock.domain.PlaceVO">
		<![CDATA[
			select placeName, placeAddress, placeOpenTime, placeCloseTime from
			place p,
			(select state from hotel h, realhotel r where h.realhotelno = r.realhotelno and hotelno = #{hotelno}) h
			where p.placeMainAddress = h.state
		]]>		
	</select>
	
  <select id="read" resultType="org.zerock.domain.RelyVO">
		  <![CDATA[
		  	
		  		select r.reviewNo, r.grade,r.reviewcontent,r.reviewdate,m.memberNickname from review r
				left join member m on m.memberno = r.memberno
				where hotelno =#{hotelno}
		   ]]>


	</select> 
	
	
	<select id="getListWithPasing" resultType="org.zerock.domain.RelyVO">
		 <![CDATA[
		 
		 	 select reviewNo,grade,reviewcontent,reviewdate,memberNickname,hotelno from 
  			  (
   			   select
    		  rownum rn,r.reviewNo,r.grade,r.reviewcontent,r.reviewdate,m.memberNickname,r.hotelno
     		  from review r
    		  left join member m on m.memberno = r.memberno
    		  where hotelno = #{hotelno}
    		  and rownum <= #{cri.pageNum} * #{cri.amount}
    		  order by reviewNo desc
   			  ) where rn > (#{cri.pageNum} -1) * #{cri.amount}  
		 
		 
		 
		  ]]>
		
	</select>
	
	<select id="getReplyByHotelno" resultType="int">
		 <![CDATA[
		select count(reviewno) from review where hotelno= #{hotelno}
		  ]]>
	
	</select>
	
	
	
	
	
		<insert id="insert">
		  <![CDATA[
		  
				insert into review(reviewNo,memberNo,hotelNo,grade,reviewContent,reviewDate) values (review_seq.nextval,#{memberNo},#{hotelNo},#{grade},#{reviewContent},sysdate)
				
				
		   ]]>
	</insert>
	
	
	
	
	<delete id="delete">
		  <![CDATA[
				delete from review where reviewNo = #{reviewNo}
		 ]]>
	</delete>
	
	
	
	<update id ="update">
		 <![CDATA[
		 
		 		update review set reviewContent =#{reviewContent}
		 		
		 		where reviewNo = #{reviewNo}
		 
		 
		 
		    ]]>
	</update>
	
	
	
	
	
	






</mapper>