<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MapMapper">






	<select id="mapSelect" resultType="org.zerock.domain.MapVO">


   <![CDATA[
	
    
    
select h.hotelfilename,rh.realhotelname,rh.lat,rh.logt,rh.lotnoaddr,AVG(r.grade),hr.bedno,hr.roomprice,rh.state from hotel h 
left join realhotel rh on h.realhotelno = rh.realhotelno
left join review r on h.hotelno = r.hotelno
left join  hotel_room hr on h.hotelno = hr.hotelno
where rh.state= #{state}
group by h.hotelfilename,rh.realhotelname,rh.lat,rh.logt,rh.lotnoaddr,hr.bedno,hr.roomprice,rh.state
		
		
		
	   ]]>
		


	</select>
	
	
	<insert id="insertInfo" >
 <![CDATA[
	
	 	insert into realhotel (realhotelno,state,realhotelname,wstroom,korroom,
	 	roadaddr,lotnoaddr,lat,logt,hotelcondition) values(realhotel_seq.nextval,#{state,jdbcType=VARCHAR},#{realhotelname, jdbcType=VARCHAR},#{wstroom, jdbcType=VARCHAR},#{korroom, jdbcType=VARCHAR},
	 	#{roadaddr, jdbcType=VARCHAR},#{lotnoaddr, jdbcType=VARCHAR},#{lat, jdbcType=VARCHAR},#{logt, jdbcType=VARCHAR},#{hotelcondition, jdbcType=VARCHAR})
	
	   ]]>
	 
	</insert>
	
	
	<select id="hotelList" resultType="org.zerock.domain.HotelApiVO">
	 <![CDATA[
			select * from realhotel
	 ]]>
	</select>



</mapper>
